.Sidebar{
    border: 1px solid black;
    flex:0.2;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 230px;
    background-color: #040404; 
    /* position: fixed; */
}

.sidebar_logo{
    height: 80px;
    margin: auto;
}

p{
    transition: 200ms color ease-in;
    font-size: initial;
}

hr{
    border-top: 0.2px solid grey ;
    margin-top: 0px;

}

.playlist{
    margin-top: 15px;
}